{
 box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
 float: left;
 height: 300px; /* Should be removed. Only for demonstration */
 display:inline;
 padding:0px;
 margin:0px;


}

.player1, .player2 {
 border-radius: 3%;
 background-color: #8580a6;
 margin-top: 20px;
 margin-bottom: 5%;
 width:250px;
margin: 5px;


}

.board {
 width: 520px;
 height:550px;



}



/* Clear floats after the columns */
.container:after {
 content: "";
 display: table;
 clear: both;
}

.container{
 width: %100;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin-top: 1px;
 margin-bottom: 1px;


}




#title{
	background-color:red;
	align-content: center;
	font-size: 50px;
	font-family: "Times-New-Roman";
	text-align: center;
}


#game-board{
	text-align: center;
	background-color: #000080;
	padding: 5%;
	border-radius: 5%;
  margin-top: 5px;




}
.circle {
  height: 100px;
  width: 100px;
  background-color: #d4d2d2;
  border-radius: 50%;
  margin:7px;
  display: inline-block;
}

.red{
	background-color: red;
}

.yellow{
	background-color: yellow;
}

.copyright,.message{
text-align: center;
color: yellow;
position: absolute; bottom: 5px; left: 0; right: 0;

}

.main{
display: flex;
flex-direction: column;



}
section{
  display:inline-block;
}

.buttonCon{
		background-color: #000080;
    font-family: 'Ubuntu', sans-serif;
		color: white;
		font-size: 25px;

		  margin:auto;
  		display:inline-block;
}


.announcement{
  color:black;
  display: inline-block;
  font-size: 25px;
  background-color:pink;
  padding: 1px;
  margin: 1px;
  border-radius: 5px;


}

h2,h1,p{
  text-align:center;
  font-family: 'Calistoga', cursive;


}
p{
  color:white;
}

h1{
  font-size: 40px;
  color:white;
}

.footer{
  color:yellow;
/*  position: absolute; bottom: 3px; left: 0; right: 0;
*/

}

.player-img{
  border-radius: 10px;
}

img{
  border-radius: 10px;

}

.player-name{
}

body{
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;


}


.settings{

}


.yourTurn{
	background-color: rgba(172, 128, 255,0.4);
}



@media screen and (max-width:450px) {


  .container {
    flex-direction:row
  }
  .board{
    order: 1;

  }


  .player1{
    order: 2;
    width:40%;
    padding-bottom: 0px;

  }
    .player2{
    order: 2;
    width:40%;

}
.player1,.player2{
	height:230px;
	padding-bottom: 5px;
}

body,section{
	display: inline-block;
}

img{
	width:50px;
	height:50px;
}
.player-name{
	font-size: 20px;
}

button{
	position: fixed;
	bottom:500px;
	right:200px;
}

   
   	}

   	.resetButton{

	bottom:0px;
	position: fixed;
	right:50%;
	display: inline;
	 border-radius: 10%;
padding: 5px;

    font-family: 'Ubuntu', sans-serif;
    		background-color: #000080;

		color: white;
		font-size: 20px;
}

.buttonColor{
		background-color: #000080;

}


body{

}

.reset{
	  margin:auto;
  display:block;
}

.colorIt{
	background-color: #2e2959;
}

.winner{
	  background-image: url('winnerBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}